'scopeName': 'source.javascript-webgl'
'name': 'Language Javascript (WebGL)'
'fileTypes': [
  'js'
]
'patterns': [
  {
    'begin': '(`)\\s*(//\\s*glsl[^`]*)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.string.begin.js'
      '2':
        'name': 'comment.line.double-slash.cpp'
    'end': '`'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.js'
    'name': 'source.glsl'
    'patterns': [
      {
        'include': 'source.glsl'
      }
    ]
  }
  {
    'begin': '(vertexShader|fragmentShader)\\s*(:)\\s*(`)'
    'beginCaptures':
      '1':
        'name': 'source.js'
      '2':
        'name': 'keyword.operator.assignment.js'
      '3':
        'name': 'punctuation.definition.string.begin.js'
    'end': '`'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.js'
    'name': 'source.glsl'
    'patterns': [
      {
        'include': 'source.glsl'
      }
    ]
  }
  {
    'include': 'source.js'
  }
]
